body {
   	   background: #D8BFD8;
	   color: #000000;
   }
 {
    font-family: Verdana, Georgia, Helvetica, sans-serif;
   }
   p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
   }

